@import 'bootstrap/dist/css/bootstrap';

.contact-area {
  margin-top: 50px
}

.header-space {
  margin-top: 0px;
}

.header-index {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('phone.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  
}

.contact-head {
  color: darkred;
}

.contact-back {
  background-image: asset-url('phone.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 205px;
  filter: blur(8px) grayscale(75%);
}
